{release, {bam, "0.0.1"}, [bam_api, bam_lib]}.
{extended_start_script, true}.
{overlay, [{copy, "apps/bam_api/priv/app.config", "etc/bam_api_app.config"},
           {template, "priv/sys.config", "releases/{{release_version}}/sys.config"},
           {template, "priv/vm.args", "releases/{{release_version}}/vm.args"}
          ]}.
