%%-*- mode: erlang -*-
{deps,
  [
    {jiffy, "0.13.2", {git, "git://github.com/davisp/jiffy.git", {tag, "0.13.2"}}},
    {eunit_formatters, ".*", {git, "git://github.com/seancribbs/eunit_formatters.git", {branch, "master"}}},
    {protobuffs, "0.8.1", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1"}}}
  ]
}.

{eunit_opts,
  [
    no_tty,
    {report, {eunit_progress, [colored, profile]}}
  ]
}.
